[2021-05-25 13:38] christian2022 commented on #163
With these minor changes (see `###`), on my laptop construction time is 1/3 of solution time for `n = 4000`
[code]

[2021-05-27 11:54] christian2022 opened #195 "Feature request: user defined stopping rule"
We can stop a long running optimization process by setting one or more of the following criteria **before** starting the optimization:
- max_mip_gap
- max_mip_gap_abs
- max_nodes
- max_seconds
- max_solutions
It would be helpful if we can place a handler that will be called from time to time during the solution process to gracefully end the optimization, independent of one of the above criteria.

[2021-06-04 09:21] danroozemond opened #196 "objective_values[k] returns the wrong value"
`import mip, time;`
`mip.version`
'1.13.0'
`model = mip.Model()`
`x = model.add_var(name='x', var_type=mip.INTEGER);`
`y = model.add_var(name='y', var_type=mip.INTEGER);`
`y.ub = 2`
` `
`model += ( 2*x + 3*y <= 13);`
` `
`model.objective = ( 2*x + 3*y );`
`model.sense = mip.MAXIMIZE;`
`status = model.optimize(max_seconds=300);`
`for k in range(model.num_solutions):`
`    print('solution {} objecti

[2021-06-14 09:54] hadware commented on #163
Super interesting ! That's a pretty nice solution, I'll try to find some time to hack this into the package.

[2021-06-23 21:59] tuliotoffolo commented on #108
Dear all,
After some productive discussions with Haroldo, we would like to debate this subject again and close this issue.

I am in favor of reintroducing the in-place operations for LinExpr, but would like to hear arguments from those who are against the reintroduction. I do believe we are losing too much for a rather limited gain (improvements when multiplying by 1 or 0).

[2021-06-23 22:01] tuliotoffolo commented on #195
We can create a _callback_ for that... I like the idea very much!

[2021-06-23 22:56] tuliotoffolo commented on #163
Nice, @christian2022!
I'm personally in favor of reintroducing _inplace_ operations for `LinExpr`, so that you could also write `obj += a * var`

[2021-07-06 13:07] Albin31 opened #197 "feasible solution of .sol files is always 0"
**Describe the bug**
When we write an initial feasible solution in a .sol file, it always gives "optimal feasible solution - 0".

**To Reproduce**
Try any writing on a .sol file of an optimizer function.

**Expected behavior**
I expected to have the first feasible solution of my optimization problem.

**Desktop (please complete the following information):**
 - Operating System, version: Windows 10

[2021-07-06 13:10] simontt19 opened #198 "PyInstaller with mip "NameError: name 'cbclib' is not define""
**Describe the bug**
I am writing a program that solve MIP and it works well when I directly run the code. But after I use pyinstaller to pack my code into an executable file and then when I run that file this error comes out("NameError: name 'cbclib' is not define").

**To Reproduce**
The whole logic is complicated, so I only extract the relevant one.
1. The script as below
from mip import Model

[2021-07-19 15:20] public opened #199 "wheel on PyPI is marked as the "any" platform but is actually platform specific"
**Describe the bug**

The published .whl file is `mip-1.13.0-py3-none-any.whl`. The `any` is intended to indicate that this is a pure Python, platform agnostic wheel that will work anywhere.

This is not actually the case and it will not work a wide variety of platforms. For example on any non-x86-64 system such as a new M1 MacBook Pro etc. (But also musl libc based Linuxes like Alpine.)

**To Rep

[2021-07-20 19:51] CardosoGuiVi opened #200 "Questions about MIP"
First of all, congratulate you on the excellent work in python MIP.

In search of knowledge about linear and integer programming, we found Professor Túlio Toffolo's classes, where we were led to this open source project, having Professor Túlio and Professor Haroldo as authors.

I represent a team of 3 researchers (2 engineering, electrical and mechanical students, and a master in electrical engine

[2021-07-20 22:16] tkralphs commented on #200
@tuliotoffolo FYI, you can easily convert an issue to a discussion. There is a link to do that over to the right.

[2021-07-20 23:16] tuliotoffolo commented on #200
Thanks, @tkralphs! I'll do it right now.  :)

[2021-08-26 20:18] mkurtzsd opened #204 "Can't read a .lp.gz formatted file"
**Describe the bug**
The library currently can open and read an MPS file that is compressed as a .gz file (.mps.gz extension). The library throws an error is attempting to pass in a LP file that is compressed as a .gz file (.lp.gz extension). However, by modifying the `model_ext` variable to be: `model_ext = [".lp", ".mps", ".mps.gz", ".lp.gz"]` in the model.py file's `read(self: "Model", path: st

[2021-09-17 12:53] jGaboardi commented on #56
xref #192

[2021-09-17 15:35] tkralphs commented on #56
@jGaboardi thanks for bringing this up again. I guess the reasons have already been well laid out, but I will just reiterate that `conda-forge` does a great job of solving the problem of how to distribute cross-platform binaries. If nothing else, it allows that problem to be solved once rather than over and over by each person who maintains a Python package depending on Cbc. It allows us to focus

[2021-09-20 13:38] kaibir opened #205 "Upper bound argument does not seem to have any effect on the assignment of binary variables"
**Describe the bug**

If adding an upper bound via 'ub=' argument to binary variable it has no effect.

**To Reproduce**

To reproduce use this very simple model:

[code]
The objective value is 1.0 and also ZeroVar is 1.0

**Expected behavior**
I would have expected that ZeroVar is 0.0 and also the objective value is.

If I add the additional constraint (which is in my eyes exactly what the ub sho

[2021-09-22 14:49] tuliotoffolo commented on #205
Thanks, @kaibir.
Indeed, the code was forcing lb=0 and ub=1 for all binary variables:

[code]

Now `ub` is set to 1.0 only when the default value `mip.INF` is passed.

[2021-09-22 14:49] #205 closed

[2021-09-22 16:30] christian2022 commented on #205
What about lb=1?

[2021-09-22 16:59] tuliotoffolo commented on #205
The default is lb=0, but the user may now set lb=1. Here's the code that replaces the previous one:

[code]

[2021-09-22 19:03] #108 closed

[2021-09-23 14:41] tuliotoffolo commented on #204
Thanks for pointing this out, @mkurtzsd. We've updated the code following your suggestion.

[2021-09-23 14:41] #204 closed

[2021-09-23 14:44] #190 closed

[2021-09-23 15:00] #150 closed

[2021-09-23 15:02] #171 closed

[2021-09-24 16:08] tuliotoffolo commented on #163
I've just included a test considering 5 variations of the code @jachymb and @christian2022 posted here. The test example is available [in this link](https://github.com/coin-or/python-mip/blob/master/examples/inplace_linexpr_creation.py) and here are the 'construction' runtimes I got with n=10000:

[code]

@rschwarz: you can now create a LinExpr from a dictionary or two lists (variables and coeffs)

[2021-09-24 16:08] #163 closed

[2021-10-01 02:48] jessehersch opened #207 "Simple boolean problem has no solution when it should"
**Describe the bug**
I have an optimization problem with boolean variables that appears to produce no solution when it should. It's not overconstrained. If I run the problem with PuLP, it finds a solution.

**To Reproduce**
Here's a unittest that runs the same problem through pulp and mip. The mip test fails.

Maybe I am not setting up the constraints right for mip? In particular I am thinking the

[2021-10-01 08:54] jurasofish commented on #207
perhaps you should do something with the line ```mip.maximize(mip.xsum(rewards[i] * variables[i] for i in range(self.count)))```

[2021-10-01 08:56] jurasofish commented on #207
all you have done is create a linear expression, you havent done anything with it

[2021-10-01 11:53] jessehersch commented on #207
ok so I am not setting the objective function correctly? I guess it should be this:
[code]

[2021-10-01 11:55] jessehersch commented on #207
indeed that's it. i'm an idiot :)

[2021-10-01 14:45] #207 closed

[2021-10-01 14:48] tuliotoffolo commented on #207
No problem. Issue closed.  :)

[2021-10-01 20:37] #159 closed

[2021-10-02 14:01] tuliotoffolo commented on #194
Since this has been fixed in CBC (coin-or/Cbc#412), I'll close this issue.

[2021-10-02 14:01] #194 closed

[2021-10-07 15:22] tooflesswulf opened #210 "m.optimize() returns OPTIMAL, but the found minimum is wrong."
**Describe the bug**
Calling `m.optimize()` returns `OptimizationStatus.OPTIMAL`, but the solution is not optimal.

**To Reproduce**
I have a MIP problem defined here:
[problem.py.zip](https://github.com/coin-or/python-mip/files/7304813/problem.py.zip)

Running the file gives me the output:
[code]

Within the file, the `test_graph` on line 82 can be replaced with another random graph, as long as t

[2021-10-09 01:44] coder0xff opened #211 "Solutions Are Incomplete, Nondeterministic"
**Describe the bug**
The following model doesn't produce all optimal solutions.

[code]

That solution that's produced is x4 = x6 = 1, and x0 = x1 = x2 = x3 = x5 = 0, resulting in x7 = 2
Another solution is x0 = x1 = 1, and x2 = x3 = x4 = x5 = x6 = 0, resulting in x7 = 2, but it does not appear in the solution pool

**To Reproduce**
Load the above model and call optimize(). Check solution pool for

[2021-10-09 02:16] #211 closed

[2021-10-13 10:30] kaibir opened #213 "Constraint using xsum with empty list is not added to model"
**Describe the bug**
I have a model building constraints from a dictionary of type dict[str, list[mip.Var]].
If I now have the case, that one of these lists is empty, the constraint is not added to the model.
In such a case when I want to add a constraint 1<= xsum(list) this one should lead to infeasibility, but as it is not added to the model it does not fail.

Using Gurobi to build and solve the

[2021-10-31 18:33] RanAbram opened #215 "Inconsistency run time between python-mip and CBC command line"
Hi Everybody,
Thanks for that great project!

I saw some inconsistency between python-mip and CBC command line in terms of run time.
I have a set-cover like problem which python-mip (latest version) solves in about 60 seconds of solver time with CBC.
When I save the problem to .mps and run it directly with CBC command line, I get the identical solution in about 18 seconds.

**CBC command line resu

[2021-10-31 21:12] h-g-s commented on #215
Hi @RanAbram ,

These deviations (for more or less time) are expected in individual instances. The main reason is that python-mip uses some specific cbc git revisions for its releases. Also, binaries for the python-mip library were probably compiled with different options/gcc version than your cbc command line binary.

Does it means that python-mip library is slower than your cbc binary ?  Probabl

[2021-11-13 07:23] zuzhaoye commented on #144
I have the same question. Here is what I find in the directory 'mip/gurobi.py':

[code]
Since they said it is "todo", so I guess the IncumbenUpdater function hasn't been finished or published. Correct me if I am wrong.

[2021-11-15 16:26] christian2022 commented on #193
Please update. I cannot reproduce this behaviour with cbc from Mar 30 2021.

[2021-11-17 08:35] JeroenGar commented on #193
Hmmmm indeed, if i install the python-mip package directly from master branch it works correct.
I assume this is because new CBC binaries are included.

Can you also not reproduce it with the binaries that are included in Python-MIP 1.13.0?

[2021-11-17 08:51] christian2022 commented on #193
Several fixes have been made in CBC and yours obviously got fixed.
Haven't tried with Python-MIP 1.13, just with what I have on my machine.

@h-g-s Due to the bug fixes in CBC, maybe it's time for a new release of Python-mip also?

[2021-11-17 20:10] christian2022 opened #216 "Resolving modified models with lazy constraints fails"
When I build a model with a few lazy constraints, the first solve works fine. But after changing some elements and resolving, CBC reports infeasible, although after rebuilding the model from scratch it reports feasible.
This does not happen if regular constraints instead of lazy constraints are used.
Expection would be that it also works correctly with lazy constraints.

[code]

[2021-11-18 07:25] mhechthz opened #217 "Parse LP formulation from string"
For a project I need to solve lp formulations coming from clients. I want to avoid storing the formulation in a file to get it parsed via `model.read("xxx.lp")`. Is it possible to hand over just a string containing the lp formulation, e.g. like `model.parseLP(myLpFormulationString)`?

Sorry, this is not an issue but a question or feature request. Didn't find the reight place for it.

[2021-11-18 07:30] mhechthz opened #218 "MIP-CBC cannot be stopped by CTRL-C"
I'm not sure wether this is a bug or a feature, but under Windows it is not possible to stop a running CBC optimization via CTRL-C. It is only possible via the task manager.

Especially during development this leads to permanent task kills. CTRL-C should be possible every time.

[2021-11-18 22:32] jurasofish commented on #217
Looking at the code, it looks non-trivial to implement reading lp from a string since python-mip simply passes the file path to CBC.

Your easiest solution will probably be to save the lp data to a temporary file and then read it in (if that's possible in your situation)

[2021-11-18 22:52] h-g-s commented on #217
Yes, I don’t think this would be simple, as it would require some integration with the procedures implemented in CoinUtils to parse the LPs. CoinUtils, to the best of my knowledge, does not have a C API.  

From: Michael Jurasovic ***@***.***>
Reply-To: coin-or/python-mip ***@***.***>
Date: Thursday, November 18, 2021 at 2:33 PM
To: coin-or/python-mip ***@***.***>
Cc: Subscribed ***@***.***>
Subje

[2021-11-19 07:21] mhechthz commented on #217
Yes, saving a temporary file would be the standard solution, but it is definitely not "beautiful". So I didn't want to miss to ask for this. If it is not or only difficult to solve, I go with the standard.

Thank You.

[2021-11-21 11:40] jhelgert opened #219 "Feature requests: Support (linearizable) bilinear expressions"
Currently, only linear expressions and thus MILPs are supported. However, there are some well known special cases of bilinear terms that can easily be linearized, i.e.

- the product of two binary variables
- the product of a binary variable and a continuous or integer variable with known bounds
- the product of two integer variables with known bounds

IMHO, it would be a nice feature to support b

[2021-11-29 13:33] PMLP-novo opened #221 "Setup gurobi cloud could not be loaded"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
I'm trying to run with gurobi cloud and I have been following the linux install guide for it here: https://www.gurobi.com/documentation/9.1/quickstart_linux/software_installation_guid.html

I have run a hello world with gurobipy:
[code]
But when I run with python mip it does not work.
I have specified my lic

[2021-11-29 23:03] tkralphs commented on #210
@tooflesswulf If you post an MPS file that replicates this in stand-alone Cbc to the Cbc project, then we can take a look.

[2021-12-02 10:55] mhechthz opened #222 "reduced varable precision with m.write"
I'm using small factors in my model. When I write a lp file using m.write('mylp.lp') only 5 digits are written.

Since I'm working with chemical elements, small concentrations are usual. When I hand over the problem to CPLEX or another solver, I get different results due to precision loss.

I would expect that the precision can be defined arbritarily for m.write().

[2021-12-10 07:25] NguyenS-Crypto opened #225 "Python mip can not start due to memory buildup"
Hi,
I am solving the vehicle capacitated route problem to find the optimized route for a network with a depot and over 40 locations.
At the beginning, I start with 20 locations and python mip work fine.
Netx, i increase the number of location to 40, python mip can not start to solve the problem. I got the message zhs: killed .....
I rerun the python script and check the monitor, the memory build u

[2021-12-10 08:42] christian2022 commented on #225
If you want help, you need to provide more details. For example send your model or script.

[2021-12-10 08:52] NguyenS-Crypto commented on #225
Hi @christian2022 ,
My code is:
from mip import *

df = input_data(path_excel, sheet_name, df_depot)
df = check_demand(df)
distances = get_distance(df)

from sys import stdout as out
from itertools import product

# parameters from other functions
points, demands = len(df), df['demand'].values

# set problem
Obj = Model()

# Set variables
x = [[Obj.add_var(var_type=BINARY, lb=0, ub=1) for j in ran

[2021-12-10 09:18] christian2022 commented on #225
Do yourself and especially the ones that are willing to help a favor and post complete examples, including data. Read the help how you can post code (and not text), e.g.

    from mip import *

    df = input_data(path_excel, sheet_name, df_depot)
    df = check_demand(df)
    distances = get_distance(df)

    from sys import stdout as out
    from itertools import product

Exercise to understand

[2021-12-10 12:09] NguyenS-Crypto commented on #225
Hi @christian2022 ,
thank you for your very kind support.
I am so sorry due to my bad experience with github.
I attach the data file for the problem:
[data.csv](https://github.com/coin-or/python-mip/files/7692383/data.csv)
Here below my code:

[code]
Can you please review it once again, Christian?
many thanks for your previous comment, now I know how to post a code block.

[2021-12-10 17:25] christian2022 commented on #225
Please complete the exercise I gave above. How many arcs do you have for points in range(40)?

When you understand what happens there read the documentation about lazy constraints and lookup the tsp example.

[2021-12-11 04:43] NguyenS-Crypto commented on #225
It was clear why my code did not work and memory dump. The problem happened due to `itertools.permutations` can not finish with a large number of node. with 40 nodes, the `arcs` by `itertools` would be 40! or 8.1591528e+47.
many thank Christian, it's a great lesson for me.
I have visited the tsp in mip examples and trying to figure out how to include the `capacity constraint` for my problem.
I hig

[2021-12-12 10:42] christian2022 commented on #225
Welcome to the world of [combinatorial explosion](https://en.m.wikipedia.org/wiki/Combinatorial_explosion).

To solve your problem: keep all the constraints you have except for the subtour eliminations. Add a subclass of constr_generator that identifies subtours in a given solution and adds the constraints to the model. How to do this can be seen in the tsp lazy example.

This way you only add the

[2021-12-14 05:35] NguyenS-Crypto commented on #225
Many thanks @christian2022. the isssue has been solved.

[2021-12-15 15:48] posita commented on #173
I don't know if you [saw](https://github.com/python/mypy/issues/3186#issuecomment-966434911), but I pulled out a lot of my own number typing work-arounds into their own package called [``numerary``](/posita/numerary). If [this journey](https://posita.github.io/numerary/latest/whytho/) lines up with your own, ``numerary`` could be an intermediary solution until python/mypy#3186 is fixed. (Alternati

[2021-12-17 01:27] #225 closed

[2021-12-21 22:28] r-barnes commented on #9
Just checking in on this.

[2021-12-27 17:51] FGlazov opened #229 "CBC solver does not accept initial solution"
**Describe the bug**
The CBC solver does not initialize from an initial feasible solution, if one is provided. It maybe has something to do with the variables added via add_var_tensors, I'm not sure.

There is a closed issue #44 which is of a similar nature.

**To Reproduce**
Running the following code

[code]

Results in the output

[code]

**Expected behavior**
The CBC solver should accept the i

[2021-12-28 06:13] xhmywf opened #230 "symmetry handling method"
Hello,is there symmetry detection and symmetry handling method like  orbitopes and orbital fixing in python mip?If there is ,how to set its parameter.Hope for your reply soon,thanks!

[2021-12-28 09:17] christian2022 commented on #229
Just a wild guess: Have you tried changing your variable names to "regular" variable names, i.e. starting with a letter instead of a number?

[2021-12-28 12:27] FGlazov commented on #229
I just tried it with 'first_level', 'first_aux', 'second_level', 'second_aux'. The bug still happens then.

[2022-01-04 12:33] bohonghellofresh opened #233 "MIP Start"
**Describe the bug**
I'm trying to use the initial feasible solution from start attribute to solve MIP problems, when I use CBC solver to do so which is fine but while using Gurobi I found out the start attribite used by Gurobi is in upper case (m.Start instead of m.start). II'm nor sure it is an issue or I used the wrong way doing this.

**To Reproduce**
set_start function in gurobi.py

[code]

s

[2022-01-06 10:03] sebheger commented on #213
After some research, the problem is already stated in model.py, line 334-338

https://github.com/coin-or/python-mip/blob/master/mip/model.py#L334-L338

[code]

In our applications, we often auto-generate different constraints based on the user's inputs and selections. Might happen, that some of the settings are contradictory, leading to something like 1 <= 0. Gurobipy supports this case well.

[2022-01-06 13:41] sebheger commented on #213
Finally,

[code]

not adding those leads to a crash of underlying CBC.

Thread 0 Crashed::  Dispatch queue: com.apple.main-thread
0   libsystem_kernel.dylib        	    0x7ff807648112 __pthread_kill + 10
1   libsystem_pthread.dylib       	    0x7ff80767e233 pthread_kill + 263
2   libsystem_c.dylib             	    0x7ff8075cad10 abort + 123
3   cbc-c-darwin-x86-64.dylib     	       0x113ef6f6d Cbc

[2022-01-11 13:23] nickpgill commented on #198
I have the same error! Did you manage to fix it?

[2022-01-11 15:32] rschwarz opened #238 "Model.copy() fails with Cbc (invalid row index?)"
**Describe the bug**
After building a model with CBC as solver, we call `model.copy()` which aborts Python.

**To Reproduce**
Code snippet:
[code]
Observed output:
[code]

**Expected behavior**
The model can be copied and both versions find the same solution.

**Desktop (please complete the following information):**
 - Operating System, version: Debian (stable, "Bullseye") Linux (5.10.0-10-amd64)

[2022-01-12 21:07] sebheger commented on #238
@rschwarz Your problem has the same root cause as #213. Your "trivial" constraint is not "pushed" to the cbc on C-code side, but still kept in python's storage. I have already propsed PR #237 to fix this.

[2022-01-12 23:18] si14 opened #239 "Latest Cbc build doesn't work with python-mip from pip"
**Describe the bug**

`python-mip` doesn't come with aarch64 libs (eg for an M1 mac) (also see #199), so the only way to run it is by building cbc manually. Unfortunately, the documented way of doing that just grabs `master`, which currently fails the build, but `Cbc@a1f4dd2dd02e5739b400de62a0c460b264311809` build successfully and can be used as a dylib. The main issue is it doesn't work with the

[2022-01-13 08:46] rschwarz commented on #238
Yes, that makes sense. So, this issue may be closed as a duplicate.

[2022-01-13 08:46] #238 closed

[2022-01-17 10:59] bohonghellofresh opened #240 "Switch to CBC from Gurobi"
**Describe the bug**
Hi all, I tried to inspect the execution time of project with Gurobi and CBC, but on the Installation page of python mip and my practical experience, I found out if I installed the Gurobi, the mip will automatically choose Gurobi as solver, even I change the solver name to CBC:

<img width="840" alt="Screenshot 2022-01-17 at 11 46 16" src="https://user-images.githubusercontent

[2022-01-18 03:05] tuliotoffolo commented on #240
Hello @bohonghellofresh,
I wasn't able to reproduce the bug. Would you mind including your code?

[2022-01-18 03:08] tuliotoffolo commented on #222
We use the solver's ``write`` method, so this would have to change in CBC (and/or Gurobi).

[2022-01-18 03:08] #222 closed

[2022-01-18 03:09] #217 closed

[2022-01-26 11:15] tuliotoffolo commented on #240
Hi @bohonghellofresh,
Well, I've tried but could not reproduce the error here.

[2022-01-26 23:16] sebheger commented on #175
If you just add an "obsolete" constraint, it works.

[code]
Seems to be an issue related to adding a lazy constraint generator if the model itself has no constraints. No issue with this for gurobi, only for CBC.

[2022-01-30 17:00] aphi commented on #229
I replicated this issue. It looks to come from the unset INTEGER variables stored in `level2`. (Your code only sets values for `level1`.) One workaround is just to add these two lines:

[code]

Which then works for me, giving:
`Cbc0045I MIPStart provided solution with cost 324`

Ideally the MIPStart is meant to be a feasible solution specifying all integer values. Even though your code is complian

[2022-01-31 16:05] bohonghellofresh commented on #240
@tuliotoffolo Thank you for trying to help!
I think it's my mistake that I forget to put solver_name attribute in the Model()
it's fixed after doing so.
Thanks again!

[2022-01-31 16:05] #240 closed

[2022-02-01 13:18] sebheger commented on #162
@rschwarz With #244 your issue should be solved. I have updated some of the arithmetic to be fully commutative.

[2022-02-08 11:36] ghost opened #245 "Objective Function .lp File Bug"
**Describe the bug**
Every time I save my model by creating a .lp file, although the code stays the exact same, the objective function in the .lp file changes. This means that if/when I externally solve the .lp file and try to use the solution (whether a .mst or .sol file) to MIPstart, the values are not accepted.

**To Reproduce**
I have written a write to .lp line, then a subsequent read .lp lin

[2022-02-09 21:40] sebheger commented on #245
@Fonti1996 Thanks for reporting the issue. I can reproduce that there is something going wrong by running your script, but I need your help check where the problem is:

- please reduce the size of the example (e.g. less SC_Data).
- Could you replace all sets by sorting them into lists (maybe alphabetically), that we have deterministic runs to compare. At the moment I can't diff the output, because

[2022-02-10 07:58] sebheger commented on #216
Hi @christian2022

Thanks for reporting the issue. I guess that the code is not modifying the lazy constraint as you respect. Instead, a constraint with the same internal index is modified. This could be related to commit from @h-g-s [531d71d97e0a0c8b69efbfe74df5ba48339dd163](https://github.com/coin-or/Cbc/commit/531d71d97e0a0c8b69efbfe74df5ba48339dd163) at CBC. Will check what gurobi says to it a

[2022-02-14 21:11] ErikLambrechts opened #247 "Number of solutions"
I am working on a problem where I have a feasible solution to a set of constraints. I don't have an objective but I trying to figure out if there are other feasible solutions satisfying this set of constraints.

Is there an efficient why to solution this?

[2022-02-15 21:02] sebheger commented on #247
@ErikLambrechts. Best to my knowledge python-mip doesn't provide you with an efficient way. You can try two approaches (without guarantee):

1.  Perform runs with different artificially generated target functions to see whether you can find a different solution. This approach might "fail" if there is only one feasible solution or you do not find the required target function to produce different ou

[2022-02-16 14:35] msperr opened #248 "Problem is infeasible unexpectedly with using MIP-CBC"
I created a Bin Packing Problem with a quite small number of items. Then I added symmetry constraints in order to solve the problem faster. Unfortunately, the problem gets infeasible although it should be feasible. I'm using MIP 1.13.0 with Python 3.10.1 on Windows.

I added my code for reproducing the problem. Thanks for your help!

[code]

[2022-02-19 12:50] SebastianJHM opened #249 "Use MIP in Web Assembly Pyodide"
Hi MIP team,
I'm trying run MIP in browser using pyodide. I'm installing mip whit .whl founded in pip website and function perfect. The problem is whit cbc. Exist a way to make possible compile cbc in web assembly, or use as a python library? Or do you have suggestions for this problem?

`<!DOCTYPE html>
<html>

    <head>
        <script src="https://cdn.jsdelivr.net/pyodide/v0.19.0/full/pyodide.

[2022-03-02 21:43] aphi commented on #248
If you're looking for a workaround, CBC will solve this model fine with the symmetry constraints instead specified in an ordered line rather than all-pairs.

[code]

To the question of why it doesn't work as defined, it's a bit peculiar but seems to relate to the floating point coefficients. You can save the model to an lp file, then immediately read it back, and that will also solve. The issue co

[2022-03-04 08:29] gewesp commented on #165
I tried this today and it worked, *however* it seems that the library has been renamed in the Cbc master
and Python-MIP has not been updated (yet).

To make it work with Python-MIP you need to do the following *after* the `coinbrew` command:
[code]
This is for MacOS, for Linux probably replace `.dylib` by `.so`.

Using this command, I got Python-MIP working on a Mac M1 ('Apple silicon').

In the l

[2022-03-04 08:32] gewesp commented on #199
In case you're wondering how to make it work on a Mac M1, see my comment here:  https://github.com/coin-or/python-mip/issues/165#issuecomment-1058946026

[2022-03-04 17:03] tkralphs commented on #165
and Python-MIP has not been updated (yet).

Yes, there used to be a `libCbc` and a `libCbcSolver`, but this separation did not serve much purpose, so the libraries were merged as part of the on-going refactoring being undertaken in the `master` branch. I'm not sure why you need to do the dynamic linking , though. You should be able to just set `PMIP_CBC_LIBRARY` to point directly to `libCbc`, unle

[2022-03-07 14:49] idilbayar opened #252 "About Python MIP Solver NameError: name 'cbclib' is not defined error"
Hi,
When I run a python mip code I get the following error
"NameError: name 'cbclib' is not defined" I tried everything that is on the internet about solution of this issue. They did not work for me please help it is an urgent situation. I am using MacBook Air MacOS Sierra 10.12.6
python version 3.9.7 (default, Sep 16 2021, 08:50:36)
MIP version 1.13.0
Thank you
It is the same issue as #167

[2022-03-08 07:17] gewesp commented on #165
Much appreciated Ted!  I was following the [Python-MIP documentation](https://python-mip.readthedocs.io/en/latest/install.html) which mentions dynamic linking:

"Python-MIP uses the CbcSolver __shared library__ [...] In [...] MacOS the extension should be `.dll` and `.dylp`, respectively. To force Python-MIP to use your [...] CBC binaries, you can set the PMIP_CBC_LIBRARY environment variable, ind

[2022-03-08 18:10] tkralphs commented on #165
Sorry, I misspoke. I didn't mean to say dynamic linking, I meant symbolic linking. You created a symbolic link from libCbc to libCbcSolver when you could just directly point python-mip to libCbc by setting PMIP_CBC_LIBRARY I think.

[2022-03-09 05:18] gewesp commented on #165
Indeed, that works as well, thanks!

[2022-03-11 13:40] gewesp commented on #252
Preferably then, comment on #167 and provide complete and minimal reproduction steps there.

[2022-03-11 13:46] gewesp opened #253 "`max_seconds` parameter not working"
**Describe the bug**
`max_seconds` doesn't work for me currently, it leads to:
[code]

This is with:
[code]
compiled from master as indicated above on a Mac M1.

I can provide a minimal example, however I'm pretty sure this is a simple oversight.  The only difference between my code working and not working is addition of the `max_seconds` parameter in the `optimize()` call.  Let me know if you nee

[2022-03-14 12:54] tkralphs commented on #253
This looks to be the bug that was fixed [here](https://github.com/coin-or/CoinUtils/commit/751e855e9e3be18211905ce0fd723251f2d7c239). Can you check what SHA you are on in CoinUtils?

[2022-03-15 05:36] gewesp commented on #253
Hi @tkralphs, thanks for looking into it!  Unfortunately, it looks like it wasn't fixed.

 I just recompiled and the error still occurs in the same form AFAICS.

The latest commit I have is 78fdcdbc6841668af6c254d0b296380685a0f879, Mar 2 by Lou Hafer, and I do see the Jan 3 commit you quoted in my log.

My build commands are:
[code]

[2022-03-15 17:25] labaude commented on #198
Same here with slightly different versions. Any resolution?

[2022-03-18 04:27] tkralphs commented on #253
This is strange. I can replicate the error, but I don't have the bandwidth at the moment to debug it. Strangely, for me, even `m.optimize()` with no parameters seems to give the same error. It should be easy to debug. Looking quickly at the code, I can see where it fails and where the error is being printed (it's in the C extension), but just not why. It should be obvious from looking at the sourc

[2022-03-18 07:17] gewesp commented on #253
OK thanks!  I'll see, maybe I find a few cycles to investigate.  After all, I have the current source already on my machine.

[2022-03-18 10:41] gewesp commented on #253
Some differential diagnosis:
* Setting `m.threads` before calling `m.optimize()` triggers the same error.
* Setting `m.foobar` before calling `m.optimize()` works without any effect, as expected.
* Setting `m.max_seconds` before calling `m.optimize()` somewhat surprisingly does *not* trigger the error, but also doesn't have the desired effect of terminating after the specified number of seconds.

[2022-03-18 11:06] gewesp opened #254 "`check_optimization_result()` sometimes crashes CBC"
**Describe the bug**

`check_optimization_result()`crashes CBC on some models.  From the error message, it looks like
an off-by-one error.

I'm calling the function after verifying that an optimal solution was found:
[code]
Apart from that, my solutions look perfectly fine; although I noticed today that occasionally the progress
log is nondeterministic---Are any randomized algorithms involved?

Er

[2022-03-18 12:38] gewesp commented on #254
It has actually *two* stack traces, the second one related with `basic_string`.  May be memory corruption after all?

Below is with a smaller example and today's (Mar 18, 2022) master branch.
[code]

[2022-03-18 13:34] gewesp commented on #254
Update: I can narrow it down to iterating over `model.constrs`.  It happens also *before* calling `optimize()`.  It appears that Python-MIPs idea of the number of constraints does not agree with Cbc's.

Interestingly, I now get an Abort *without* a stack trace and in a different location in the C++ code:
[code]
With the following code:
[code]
Before that, I call nothing special, just calls to `add

[2022-03-18 17:04] gewesp commented on #253
Looks like I might have a fix, if you want to assign the ticket to me and add me to the project, happy to submit a PR.

[2022-03-19 20:04] tkralphs commented on #253
I'm not actually a maintainer here. I did assign the ticket to you, which I can do, but I would leave it to the maintainers to add you to the project. That's not required to submit a PR, however.

[2022-03-19 20:53] sebheger commented on #254
@gewesp Thanks for your investigations. We are already aware of the problem that handling of so-called "empty" constraints at python-mip as well at CBC interface is not correct. See https://github.com/coin-or/python-mip/pull/237 where I proposed a fix on python-mip side, that is still "pending" as handling of this cases by the cbc api is not 100% clear.

[2022-03-21 18:07] sebheger commented on #253
@gewesp You can easily fork this project in your private space and from there you can create a pull request (PR) into the python-mip repository. You don't need any rights to the project to create it, only as a maintainer you can merge the PR.

[2022-03-22 06:43] gewesp commented on #253
@sebheger I did, see above.  I didn't realise initially that I need to fork ... too many different workflows around these days.

The issue is probably in CoinUtils, I submitted a PR to that repo.

[2022-03-22 08:11] samiit opened #255 "HiGHS solver integration"
Hi,

Thanks for this package. I am still exploring it but things look familiar to my experience with JuMP (Julia).
Is there any documentation on how to add additional solver support? I would like to add the [HiGHS](https://github.com/ERGO-Code/HiGHS) solver, which I did for [PuLP](https://github.com/coin-or/pulp/commit/d1ab490c156a7932aca44cfd346ec754fdda96bc) a while ago. Of course, here there is

[2022-03-22 09:54] rschwarz commented on #255
This is also of interest to me, so I'm happy to help.

I understand that python-mip uses the [cffi](https://cffi.readthedocs.io/en/latest/) library to make calls to C libraries. With that library, you can specify the functions you want to call by providing the C header as a string ([see here for how that's done for Cbc](https://github.com/coin-or/python-mip/blob/master/mip/cbc.py#L114)) and loadin

[2022-03-22 12:43] gdragotto opened #256 "Wrong objective function/ Constant shift"
Hello,

I started to believe that I get the wrong objective function with Gurobi, although the optimal solution itself is correct.

I build an objective function inside a LinExpr that looks like

`+ 2.8yBR_0-1 + 4.199999999999999yBR_0-2 + 4.199999999999999yBR_0-3 + 2.8yBR_1-0 + 2.8yBR_1-2 + 4.199999999999999yBR_1-3 + 7.0yBR_2-1 + 4.199999999999999yBR_2-3 + 7.0yBR_3-0 - 28.0
`
where `yBR` are my de

[2022-03-23 04:02] samiit commented on #255
Thanks for the pointer Robert @rschwarz . I will check and see what I can do.

[2022-03-23 13:30] tkralphs commented on #253
OK, this should now be fixed by https://github.com/coin-or/CoinUtils/pull/192.

[2022-03-23 17:36] sebheger commented on #255
The way @rschwarz is describing is exactly the way how it should be done. I am also more than happy to support you @samiit.

[2022-03-23 17:42] sebheger commented on #256
Hi @gdragotto,

thanks for reporting your issue.

On the one hand, from a quick look, it might be associated with #214. Is your problem only related to gurobi - so CBC works fine?

On the other hand, could you please provide a complete minimalistic python code example that could be run to see/debug your results? Thanks!

[2022-03-23 17:52] sebheger commented on #196
@tkralphs Any idea on that?

[2022-03-23 20:56] sebheger commented on #68
@FlorianDietz Do you still observe the problem with the latest mip version?

[2022-03-23 21:18] rschwarz commented on #68
Could this be a license issue, ie the failure to get a new Gurobi environment, with the previously used ones not yet released?

[2022-03-23 21:18] tkralphs commented on #196
Not really. I just looked through the whole chain of calls and could see nothing that would cause this. It's very odd. If you can narrow it down to an issue with Cbc (create a stand-alone reproduction using only Cbc itself), then you can report it there and we'll be able to take a look.

[2022-03-23 21:26] sebheger commented on #249
@SebastianJHM You got some answers at https://github.com/coin-or/Cbc/issues/484 already. Is that fine so far?

I guess your problem is similar to #199. It should be "forbidden/restricted" by pip to install mip on a platform where CBC (or gurobi) couldn't be executed.

[2022-03-24 08:01] FlorianDietz commented on #68
I no longer work there and do not remember what this bug was about.

[2022-03-24 08:19] #68 closed

[2022-03-24 11:25] sebheger commented on #185
@RichardOberdieck

as experiment, I tried it under windows by setting the libfile directly as absolute path to the gurobi.dll which comes with pip installation. So far, the linkage for cffi is fine. But it won't accept the size-limited trial license. Always get 10009 on GRBloadenv on C side. I tried to copy around the gurobi.lic to the default directorys and setting GRB_LICENSE_FILE. It seems to m

[2022-03-24 17:29] sebheger commented on #210
I have rerun the provided script with the latest master today. Looks fine

STATUS: OptimizationStatus.OPTIMAL
Claimed minimum:   0.0
----------MANUAL START RESULT----------
Actual minimum:   0.0

Could be declared as fixed with next release

[2022-03-24 21:43] SebastianJHM commented on #249
No exactly. The problem is that previously I need to install a instance of CBC in webassembly. In this case MIP use cbclib, that I suposse is a python interface from CBC. In order that this function, we would need the .whl files for cbclib, I suposse. And the wheels must necessarily be for any OS.

[2022-03-25 00:00] RichardOberdieck commented on #185
Yes, this is unfortunately to be expected since the trial license only works for `gurobipy` or our command-line interface (`gurobi_cl`); it will not work with any other API, including the C API.

I will ask internally whether we can change this, and will let you know if I hear anything back.

[2022-03-25 08:31] sebheger commented on #191
Works with preprocess=1 and preprocess=0 on cbc@2.10.7, so will be considered as fixed for next release

[2022-03-28 08:54] sebheger commented on #249
I guess I cannot answer your questions to your satisfaction.

The bundled cbc-binaries within python-mip are only suitable to be run under osx/linux/windows. cbclib is just a variable containing the C API wrapper to cbc. So if it is not defined during runtime, python-mip was not able to wrap an API around any (bundled or hand-installed) cbc binaries.

[2022-03-29 07:00] RichardOberdieck commented on #185
We are discussing this in the team, but I doubt that we will take a quick decision on this. If we gave you a full license for a few days, would that be enough for you to test this?

[2022-03-29 14:24] sebheger commented on #185
With a trial license for let's say 2 weeks, I could do some more tests and see if and how we can fix/additionally search for gurobipy installed gurobi.

One more thing: Would it be possible to get some license to be integrated into our CI workflow? To make the development more "sustainable" regarding the gurobi implementation part. My initial thought was, that we install gurobi via gurobipy and pi

[2022-04-01 06:34] RichardOberdieck commented on #185
How exactly does your workflow look like? Do you run your CI on a fixed, local machine, GH actions or something else?

[2022-04-01 08:25] rschwarz commented on #233
I don't think I understand the issue. The `Start` attribute of Gurobi is an internal datastructure, which should not be used by the user on the python-mip side, right? This is also something that can't be changed within python-mip.

The proper API to use is the property `start` of `mip.Model`. This can be used to *set* an initial solution (where `solver.set_start` will then be called). It can also

[2022-04-01 15:27] brmanuel commented on #213
I also just encountered this bug.
I find the current behaviour of MIP very counter-intuitive. Also I find there are real usecases that rely on the intuitiv behaviour of xsum([]) = 0.
E.g. In our application, we have a network flow and want to enforce that flow goes through certain vertices. In this scenario, a node which has no incoming-edges is a symptom of an infeasible input. But the behaviour

[2022-04-01 19:49] sebheger commented on #185
The CI is based on GH actions

[2022-04-03 13:48] MikeWazoWski123 opened #263 "Potential secutiry vulnerabilities in the C libraries which mip depends on. Can you help upgrade to patch versions?"
Hi, @h-g-s , @tuliotoffolo , I'd like to report a vulnerability issue in **mip_1.13.0**.
### Dependency Graph between Python and Shared Libraries
![image](https://user-images.githubusercontent.com/102780639/161431117-b1fe71b8-cdc3-4ade-867e-8bbb4eb3cc2e.png)
### Issue Description
As shown in the above dependency graph(here shows part of the dependency graph, which depends on vulnerable shared libr

[2022-04-03 16:49] sebheger commented on #263
Hi Mike,

thanks for your post and for taking care of potential security issues. As I am not an expert, I try to involve someone who is more in the details.

@tkralphs Is that a potential security issue for CBC in common or only related to the python-mip build process?

[2022-04-04 14:04] tkralphs commented on #263
If I finally understood correctly, this has nothing to do with Cbc per se. It has to do with the fact that an old version of the shared library `libtinfo` is being distributed as part of the `mip` package. If you look at the contents of the installed package, you can see that library in the `libraries/lin64` directory.

There is an easy fix in principle: `libtinfo` is a dependency of `libreadline`

[2022-04-04 16:21] MikeWazoWski123 commented on #263
@tkralphs , thank you very muck for your feedback.
I can understand, this is a tradeoff between compatibility and security.

By the way, is the diagnosis information useful to you? I am happy to know that :)
Our team developed a tool that can detect the vulnerablity issues that are induced by cross-language invocations.
If you are interests, I can share you a download link when we make it open-sou

[2022-04-04 17:26] tkralphs commented on #263
@MikeWazoWski123 To be honest, my first reaction was that this report was some sort of self-promoting SPAM that could probably be safely ignored. Once I dug in, I had a hard time actually understanding what the diagnosis was from the report because the offending library is only a secondary dependency. There is also a lot of mention of `ncurses`, which seemed to be a red herring at first. The thing

[2022-04-05 08:53] RichardOberdieck commented on #185
Ok.

We've discussed this internally and I don't think we'll make the size-limited license that ships with the installation from the PyPI server generally available for all APIs.

However, I have been thinking about something: if you have a working integration with the PyPI installed `gurobipy`, then you are good to go to use the size-limited license. The only part that it does not cover is the cu

[2022-04-05 19:37] sebheger commented on #216
Ok, the same problem for gurobi

[2022-04-05 19:39] sebheger commented on #198
@nickpgill @labaude @simontt19 Does the comment of @rschwarz fixes your problem?

[2022-04-05 19:46] sebheger commented on #197
@Albin31 Can you provide us a minimalistic example of code and .sol files that we can retrace your problem?

[2022-04-06 05:59] erelsgl opened #267 "Wrong solution in a simple MIP for number partitioning"
**Describe the bug**
I wrote a simple MIP for the following problem: given a set of numbers, partition them into two subsets such that the smallest sum is as large as possible. The returned solution is clearly wrong.

**To Reproduce**

Here is the code I used:

[code]

**Expected behavior**
The optimal partition is clearly [11, 11, 11], [11, 22], since the smallest sum in that case is 33, which is

[2022-04-06 07:18] rschwarz commented on #267
I think the way you construct the `counts` dictionary does not work as expected, because there are multiple identical `item` values, which replace the previous entries. Compare this snippet:

[code]

[2022-04-06 07:28] erelsgl commented on #267
You are right. Thanks!

[2022-04-06 07:28] #267 closed

[2022-04-09 07:51] sebheger commented on #88
@subratpp In my opinion the print function of python shouldn't be used to display the complete model. It should print the name and maybe some high-level indicators of the model, like number of vars, constrs ....

[2022-04-09 10:21] rschwarz commented on #88
To see the complete model, you can also use `model.write('filename.lp')` and look at the file written in `lp` format.

[2022-04-21 22:56] gdragotto commented on #256
Hello,

just a follow up: fixed in #214

[2022-04-21 22:56] #256 closed

[2022-04-25 08:27] nickpgill commented on #198
Sorry for the delay in replying... I tried to make use of the suggestion
from @rschwarz but I was not able to figure out how to use the --add-binary
argument. If you can give me a clue here, then I will follow this up and
see if I can make it work...

On Tue, 5 Apr 2022 at 20:39, Sebastian Heger ***@***.***>
wrote:

[2022-04-25 08:36] rschwarz commented on #198
I have not tried it with python-mip and Cbc, but here's how I called pyinstaller (on Windows) for a past project that used PySCIPOpt:

[code]
where `SCIPOPTDIR` was previously defined via `set SCIPOPTDIR=C:\Program Files\SCIPOptSuite 7.0.2`. The result was a portable `.exe` that included the two relevant `.dll`s.

I'm no longer sure what the `;.` suffix after the `.dll` path means :disappointed:

[2022-04-25 08:39] nickpgill commented on #198
Thanks Robert, I appreciate your help with this. I'll see if I can make
this work!
Nick

On Mon, 25 Apr 2022 at 09:36, Robert Schwarz ***@***.***>
wrote:

[2022-05-02 09:55] sebheger commented on #96
Hi @hiramf, do you want to report any bug or strange behavior with your example? Otherwise, I will close this issues as we do offer support for pure modeling questions.

[2022-05-02 09:57] sebheger commented on #183
Hi @MWMartley001 Can you try to provide us with a minimalistic example to reproduce the error?

[2022-05-02 13:04] rschwarz commented on #96
Help with modeling questions is, however, available at the [OR StackExchange](https://or.stackexchange.com/).

[2022-05-02 13:26] #96 closed

[2022-05-03 12:17] sebheger opened #272 "Release 1.14.0 Preparation"
Everything that needs to be done for release

[2022-05-03 15:16] sebheger commented on #185
@RichardOberdieck Would you take a look at #271?

[2022-05-04 10:20] Simon-Rey opened #273 "Optimal value violates constraint"
Hi all,

I'm not sure if this is a bug or a complete misunderstanding from my side. I have a very simple ILP but the value of the objective at the end seems to be incorrect, or at least it seems to violate a constraint.

Here is the model:

And this is the output:

Now given the formulation of the problem, selecting p_2 and p_3, i.e., setting them to 1 would mean that minVarConstr1_0 says that  0,

[2022-05-04 12:44] sebheger commented on #273
Could confirm that the optimal solution is 0 and -1 is obviously wrong. Solving the .lp with CBC 2.10.3 from the command line interface states the right solution. @Simon-Rey Would you be so kind to provide me the following information:
- Which python mip version are you using? I guess the latest one
- Send me the python code producing the model for debugging purpose
Thanks for your support

[2022-05-04 14:55] Simon-Rey commented on #273
So I believe optimal solution is for minVar = 0.66667 so objective -0.66667, achieved with p_1 = 0, p_2 = p_3 = 1.

OS is debian 11 bullseye and python-mip is version 1.13.0 installed with pip3.

For the python code, I'll need a bit of time to prepare something readable ;)

[2022-05-04 15:11] Simon-Rey commented on #273
Ok it's a bit embarassing, but as expected it's a problem on my side and not on the solver's side. There is no problem, I made some mistakes in the way I am dealing with the solver's output.

Sorry for the inconvenience, and thanks for the support and everything you're doing, it's great working with python-mip :)

[2022-05-06 11:54] sebheger opened #274 "Apply LazyConstraintGenerator if and only if an improved integral solution is found for cbc"
At the moment it is applied whenever the solution is integer. So unnecessary calls for the same solution are observed.

[2022-05-07 20:35] sebheger commented on #173
I am going to add mypy to CI. See #270. There I started to refactor the numbers.Real for typing to make it mypy compatible.

[2022-05-07 20:48] sebheger commented on #274
Might be related to #144

[2022-05-08 14:42] sebheger commented on #16
Both CBC and Gurobi can use multiple threads for solving the problem. I guess you can also build your own python multi-threaded application to build the model.

By the way, I will close the issue. @adamdharris If there are any questions open, please reopen this issue.

[2022-05-08 14:42] #16 closed

[2022-05-08 14:56] sebheger commented on #76
Duplicate to #198

[2022-05-08 14:56] #76 closed

[2022-05-09 11:49] sebheger commented on #245
Will close this issue as we cannot reproduce.

[2022-05-09 11:49] #245 closed

[2022-05-09 11:53] sebheger commented on #239
@si14. We are working on that topic. But it will take some more time...

[2022-05-09 11:54] sebheger commented on #120
I will close this issue, as no data/code was provided for nearly 2 years.

[2022-05-09 11:54] #120 closed

[2022-05-09 14:37] Cees-van-Beek commented on #19
I was installing mip on a raspberry pi, but it is still not working "out of the box"
I have build the binary by myself from https://github.com/coin-or /
[Cbc](https://github.com/coin-or/Cbc)
And with a softlink to the builded binary the mip library works fine.
But I want to use it in Appdaemon of Home Assistant and that docker image doesn't allow me to install binaries.
Is it possible to get this

[2022-05-09 17:19] Cees-van-Beek opened #276 "mip still not working on raspberry pi "out of the box""
I was installing mip on a raspberry pi, but it is still not working "out of the box"
I have build the binary by myself from https://github.com/coin-or /
[Cbc](https://github.com/coin-or/Cbc)
And with a softlink to the builded binary the mip library works fine.
But I want to use it in Appdaemon of Home Assistant and that docker image doesn't allow me to install binaries.
Is it possible to get this

[2022-05-13 08:54] sebheger commented on #276
@Cees-van-Beek We are working on a new way of integrating binaries to python-mip. Hopefully, more architectures will be supported. But this will take some time as a lot of research needs to be done.

[2022-05-16 06:23] Cees-van-Beek commented on #276
I finally compiled a version for raspberry pi 4 (64 bit)
I compiled it in a separate docker container form Home Assistant and copied  all the binaries to my working python docker container.
But the loading of the library didn't succeed.
I tried it manually at the python prompt:
[code]
So I am missing libnauty.so.2
What did I wrong?

[2022-05-16 13:58] sebheger commented on #276
@Cees-van-Beek Pls ask this question in the cbc repository under discussion. I think that is something related to correct build process

[2022-05-16 21:17] KyleBooth commented on #274
Perhaps related to this: I am using lazy constraints, and it appears that CBC, while using python-mip, is not enforcing some of the constraints I add lazily.

Specifically, the solver adds the following constraint forever until I terminate the window:
+ var(7) + var(157)  <= 1.0

After adding this lazy constraint, it should never consider a new solution with both var(7) and var(157) set to 1, but

[2022-05-16 21:48] KyleBooth commented on #274
Perhaps related to this, but I have a situation (using CBC with mip-python) where it seems like the solver is ignoring my lazy constraints.

For example, at some point in the search this lazy constraint is added:
`+ var(7) + var(157)  <= 1.0`

At future iterations of the callback, the solution passed to the callback has both var(7) and var(157) assigned a value of 1 (which should be impossible) an

[2022-05-17 06:46] sebheger commented on #274
@KyleBooth Thanks for your comment. Could you provide a minimalistic code example for the behavior? I have observed similar results, but couldn't nail it down to a straightforward code example.

[2022-05-17 18:28] KyleBooth commented on #274
@sebheger It will be difficult to produce a minimal example since the particular cut being violated is part of a larger MILP, but I will see if I can come up with something.

[2022-05-18 15:53] hlukashonak opened #277 "Is it possible to set different types of integrality constraints?"
Dear MIP Team,

thank you for the package! I am familiarizing myself with it and unfortunately I was not able to find the answer in the documentation.
Is it possible to set various integrality constraints modes in MIP? (like e.g. in [milp from scipy](https://scipy.github.io/devdocs/reference/generated/scipy.optimize.milp.html)):

Indicates the type of integrality constraint on each decision variab

[2022-05-19 07:44] rschwarz commented on #277
I don't think so. In the [documentation of `Var`](https://docs.python-mip.com/en/latest/classes.html#var), the property `var_type` just gives the options:

[2022-05-20 08:51] sebheger commented on #277
It is not possible yet. The official gurobi python api supports the requested variable definition.

At this point, I have to remark, that the requested variable definition is just a "convenience" feature. You can use a pure integer variable and binary variable together with a set of constraints to model such semi-integer variables.

[2022-05-24 09:50] DavidWalz commented on #185
A workaround for windows is to copy the gurobiXX.dll file inside a folder called /bin because of this line
https://github.com/coin-or/python-mip/blob/14466736d92ea13182d18c61c64642aff4a5a2e8/mip/gurobi.py#L55
[code]

[2022-05-24 19:38] #185 closed

[2022-05-25 12:02] JeroenGar opened #279 "How to provide your own CBC binaries"
**Background:**
When using the 1.13.0 release, my code runs fine.
However when using the current version on master with new CBC binaries, CBC crashes (after the timelimit is reached but before returning to python).

In order to investigate this issue I would like to test my code with more different versions of CBC.
It is clear to me that the binaries are located in python-mip\mip\libraries. With a

[2022-05-26 14:03] Cees-van-Beek commented on #276
I solved my problem as follows:
Because I want to use it in Home Assistant on my Raspberry PI4 I build docker-container baed on debian.
The standard base there is Alpine-linux but that didn't succeed so I switched to debian.
This is my Dockerfile:
[code]
This works great!!

[2022-05-26 14:03] #276 closed

[2022-05-28 01:44] jurasofish commented on #279
a couple of things that might help you
- You can set the PMIP_CBC_LIBRARY env var to point to the binary you want to use.
- Stable versions of CBC seem to not work (https://github.com/coin-or/python-mip/issues/165) so you will probably want to compile CBC master from source (e.g. https://github.com/coin-or/python-mip/issues/165#issuecomment-1058946026)

[2022-05-28 04:17] jurasofish commented on #165
Leaving this here for reference

I've just gotten an M1 Mac and I found that using CBC built from today's master failed some tests in my application - mostly just extreme edge cases, so I guess it's just normal variance between different versions of CBC. But I wanted to have CBC as identical as possible to what's in python-mip v1.13.0

So I wanted to build CBC for M1 Mac using the exact same versi

[2022-05-29 17:20] tkralphs commented on #165
Yes, in fact, `coinbrew` has an option for doing exactly what you're trying to do. From the help:
[code]
It's admittedly not been used (by me) since when I actually needed it and added it as an option. If you have a chance to try it, that would be great.

[2022-05-30 17:05] IlyaShaternik opened #281 "Adding constraint with all variables' coefficients equal to zero"
Using `mip.xsum` you can add constraint to model, where all variables' coefficients are equal to zero. Consider the following code.

[code]
If after that I run the following:
[code]
I get:
[code]
If you don't use `mip.xsum` or use regular `sum` instead:
[code]
Then you get noted by an exception:
[code]
Also if you create `Model` object with `solver_name='GRB'`, you still can add that kind of const

[2022-05-31 19:45] sebheger commented on #281
Thanks @IlyaShaternik for reporting the issue.

I can reproduce it with version 1.13.

I already fixed the arithmetic, so on master everything works fine for cbc. It will be available with the next release soon.

[2022-05-31 19:52] sebheger commented on #198
@nickpgill Will you share some insights with us so that I can see if there is some issue on python-mip side or that I can move it to the discussion section. Otherwise, I will close this issue.

[2022-05-31 19:58] sebheger commented on #187
I hadreactivated pypy test on windows in the CI workflow. At the moment we are testing pypy-3.9 and windows with x64 architecture. Everything seems to work.

@ShiyaoBian6639 or @shiyaobian Could you please check again?

[2022-05-31 20:14] sebheger commented on #160
@rschwarz With latest master i could not reproduce your behaviour

[2022-06-01 08:29] rschwarz commented on #160
I tried again with `mip-1.13` and observed conflicting behavior: When I ran the script the first time, it crashed again. When I repeated the call to capture the log output, it did not crash. I had to try 4 more times to see the crash, so it seems that the behavior is not deterministic?! (See [OK](https://gist.github.com/rschwarz/1e55cef8e02072f48895eb8544dbbe83#file-log-mip-1-13-ok-txt) and [crash

[2022-06-01 10:36] #281 closed

[2022-06-07 10:07] gewesp commented on #253
Unfortunately, this still doesn't seem to work on MacOS, the last time I tried was with Cbc @ 98633b3e8d34e6ee4ce076d84275da08df9e2ba3

I'm not sure exactly where the problem lies though.  Other parameters like`max_mip_gap`, `threads` etc. seem to be affected as well.

[2022-06-22 14:45] #162 closed

[2022-06-22 14:46] sebheger commented on #229
Fixed by https://github.com/coin-or/python-mip/milestone/2

[2022-06-22 14:46] #229 closed

[2022-06-22 14:46] sebheger commented on #191
Fixed by https://github.com/coin-or/python-mip/milestone/2

[2022-06-22 14:46] #191 closed

[2022-06-22 14:47] sebheger commented on #210
Fixed by https://github.com/coin-or/python-mip/milestone/2

[2022-06-22 14:47] #210 closed

[2022-06-22 14:47] sebheger commented on #193
Fixed by https://github.com/coin-or/python-mip/milestone/2

[2022-06-22 14:47] #193 closed

[2022-06-22 14:47] sebheger commented on #272
Released

[2022-06-22 14:47] #272 closed

[2022-06-23 14:29] rschwarz commented on #160
I tried this again using version `1.14` (with a lot of runs) and was not able to reproduce the crash, so I'm closing as fixed (probably because of updated Cbc).

[2022-06-23 14:29] #160 closed

[2022-06-27 11:35] #78 closed

[2022-06-27 11:37] sebheger commented on #79
Someone @WitJakuczun or @vpranckaitis needs to submit a small/reduced code example for debugging purpose

[2022-06-27 11:57] sebheger commented on #263
@MikeWazoWski123 Will you check if for the new release there is still a security issue?

[2022-06-27 19:47] sebheger commented on #15
The provided file problem.lp runs well with latest release 1.14.0 on OSX.
Can acknowledge the objective of 104.
So bug is not reproducible anymore at the moment

[2022-06-27 19:47] #15 closed

[2022-06-27 20:12] sebheger commented on #69
The lp-file from related issue works well with latest release 1.14.0.
At the moment this will be considered as not reproducible

[2022-06-27 20:14] sebheger commented on #83
The mps-file runs fine under windows with latest-release.
At the moment i will consider this as not reproducible and close it.

[2022-06-27 20:14] #83 closed

[2022-06-27 20:20] sebheger commented on #87
The attached .lp file works fine with the latest release 1.14.0.
I will consider this as not reproducible for the moment and close the issue.

[2022-06-27 20:32] sebheger commented on #138
The provided .lp file runs well with latest release 1.14.0.
I will consider this bug as not reproducible and i close the issue.

[2022-06-27 20:32] #138 closed

[2022-06-27 20:48] sebheger commented on #123
Reported bugs here are actually some design issues in python-mip. All provided code examples where the constraint object is modified afterward or in-place editing of the objective should not be not possible and not allowed and ideally "forbidden" by application.

As far as I have checked, when in-place editing the target function the application "crashes" (because trying to set a read-only attribu

[2022-06-27 20:57] sebheger commented on #122
Sorry, incomplete example.

[2022-06-27 20:57] #122 closed

[2022-06-27 21:03] sebheger commented on #161
Could not reproduce anything with my submitted .lp file :-(
Some variables are not showing up either in target or a constraint ...

[2022-06-27 21:06] sebheger commented on #158
Closed as a duplicate to #123

[2022-06-27 21:06] #158 closed

[2022-06-27 21:07] sebheger commented on #145
Works fine with latest release 1.14.0.

[2022-06-27 21:07] #145 closed

[2022-06-29 12:19] Markus28 opened #285 "Changing `Model.sense` makes (feasible) relaxation infeasible"
I am trying to determine whether the feasibility region of an MIP-relaxation is bounded or not. To do that, I pick a random objective and both minimize and maximize it, checking whether one of the problems is unbounded. Unfortunately, python-mip tells me during minimization that an optimal solution has been found, during maximization it tells me that the problem is infeasible. I'm not sure why tha

[2022-06-29 14:39] sebheger commented on #285
Hey @Markus28,

sounds strange. I know that there is/was some issue with simply changing the sense of the model.

Could you please use the latest version 1.14.0 and rerun your application? Is it happening with CBC or gurobi or maybe both?

Depending on the results and answers I will make some research.

Cheers,
Sebastian

[2022-06-30 09:41] Markus28 commented on #285
Thanks for the quick response
- I have only tested it with CBC so far
- The issue persists in 1.14.0
- If I set `model.sense = mip.MAXIMIZE` before the first optimization I immediately get infeasibility
- When I set `model.objective = -model.objective` I get infeasibility for minimization and optimality for maximization (i.e. exactly flipped)

Here are the CBC logs for danoint:

The initial minimi

[2022-06-30 13:30] rschwarz commented on #285
To be clear: the expectation is that in one case you get `OPTIMAL`, and in the other case `UNBOUNDED`?

[2022-06-30 13:35] Markus28 commented on #285
I don't whether the maximization problem is actually unbounded, that's what I want to find out (it might also be optimal, which occurs for some MIPLIB instances). But maximization being infeasible while minimization is optimal makes no sense.

[2022-07-01 10:50] Markus28 commented on #285
I have tested it with Gurobi and maximization should indeed be unbounded.

[2022-07-04 03:58] odow commented on #285
I know the answer to this, because it has bitten me before. This is the problem:
https://github.com/coin-or/python-mip/blob/08b3ad46259406b45fa1845dfa89ea1557a4fdd0/mip/cbc.py#L1251-L1252
For LPs `isProvenInfeasible` can mean dual infeasible.

Here's what we do in Cbc.jl:
https://github.com/jump-dev/Cbc.jl/blob/3db1f16751a18d4f200b15bfd6116925fbdfddb0/src/MOI_wrapper/MOI_wrapper.jl#L644-L650

[2022-07-06 08:29] Krasscheck opened #287 "Python-MIP interrupts output before time limit"
I created a MIP model with GAMS and with Python-MIP. Gams finds the optimal solution.

Python-Mip start computing, but interrupts the output before the given time limit.

Operation System Windows 11 i9 processor:

I startet with:  py sclsp.py > sclsp.out

The same model runs perfectly with other data (smaller problem size)

The attached file contains the complete python-mip model
[sclsp.py.txt](ht

[2022-07-06 11:15] sebheger commented on #287
@Krasscheck Which python version and mip version are you using?

[2022-07-06 12:16] Krasscheck commented on #287
This issue (from mip version 1.12) has disappeared in mip version 1.14.

[2022-07-06 12:16] #287 closed

[2022-07-06 14:07] tkralphs commented on #285
Then this is just a straight-up bug in Cbc. I would assume it knows when it has an LP that is dual infeasible and should properly report unboundedness. Even in the case of an MILP, if the LP relaxation is dual infeasible, this means the problem is unbounded. This should be reported over in Cbc. I guess it should be an easy fix.

[2022-07-06 22:22] odow commented on #285
Does it?

[code]
is MILP infeasible, but the LP relaxation is unbounded.

[2022-07-06 22:59] tkralphs commented on #285
Sorry, yes, you're right (of course). In this case, the recession cone associated with the convex hull has a ray with negative cost (assuming minimization), so if the convex hull itself is non-empty, the problem is unbounded, otherwie infeasible.... which is exactly the reason for that "unbounded or infeasible" return status. Still, this is a bug in Cbc if it says infeasible.

[2022-07-06 23:15] odow commented on #285
Actually I wonder if the problem is just that I should have checked `ContinuousUnbounded` first?
[code]
I think it's okay to return true for `isProvenInfeasible`, because it isn't `isProvenPrimalInfeasible`. This could arguably be a documentation issue.

[2022-07-07 13:28] tkralphs commented on #285
Ah yes, that should be correct, now that you say it. It's not ideal that you need to check two different statuses.

[2022-07-07 23:07] odow commented on #285
Maybe not:
[code]

[2022-07-12 16:48] Markus28 opened #289 "Gurobi: Can't access objective"
In  `get_objective` in `gurobi.py` you are trying to set the `const` property of `LinExpr`, which doesn't have a setter.
To reproduce:

[code]
Not sure why `const` cannot have a setter. Either way, you could just use the constructor of `LinExpr` directly. I may prepare a PR for this because I probably need to have this fixed.

[2022-07-12 16:58] sebheger commented on #289
I guess that could be easily fixed by adding a constant (add_constant) to the expr instead of setting it.

[2022-07-12 20:05] Markus28 opened #291 "Gurobi: `relax=True` is seemingly ignored"
If we try to solve an LP relaxation using Gurobi it looks like `relax=True` is just ignored and the IP is solved instead.

To reproduce:
[code]
We would expect to get optimal value -1.1 and `x.x == -1.1`.

[2022-07-12 20:30] Markus28 commented on #291
Nope, this was apparently caused by some pre-processing that set the lower and upper bounds to integers

[2022-07-12 20:30] #291 closed

[2022-07-13 00:11] sluis63 commented on #167
Hi,

I have the same problem, however the first line from the error I got was not mentioned before.

An error occurred while loading the CBC library:	 Win32 platform not supported.
Traceback (most recent call last):
  File "C:\Users\test\PycharmProjects\FirstModels.py", line 33, in <module>
    m = Model("knapsack", solver_name=CBC)
  File "C:\Users\test\PycharmProjects\venv\lib\site-packages\mip\

[2022-07-17 22:50] cdiener opened #294 "`model.remove` broken for variables in mip 1.14.0"
**Describe the bug**
Removing variables from a model is broken due to trying to write a protected property. This was caught while running the tests for the optlang package:

[code]

**To Reproduce**

Try to remove variables from a model.

**Expected behavior**

It should remove the variable and not crash.

**Desktop (please complete the following information):**
 - Operating System, version: Debia

[2022-08-02 15:14] ryanjoneil opened #299 "Model.write() behaves differently with .lp and .mps formats"
**Describe the bug**

If I write the same model to two different files:

[code]

I get two files with different characteristics:

* `foo.lp` is a text file in LP format.
* `foo.mps.mps.gz` is a gzipped MPS file with a repeated `.mps` extension.

**Expected behavior**

In the example above, I expect to get two files:

* `foo.lp` - text file in LP format
* `foo.mps` - text file in MPS format

I do n

[2022-08-02 18:08] ryanjoneil opened #300 "Model.write() outputs incorrect objective row in MPS format"
**Describe the bug**

When I formulate a model in python-mip to maximize and objective function and write it to a `.mps` file, the objective coefficients have the wrong sign.

**To Reproduce**

Construct the 0-1 knapsack model from the [examples](https://docs.python-mip.com/en/latest/examples.html) and write it to a `.mps` file.

[code]

Now call `cbc` or `highs` on the resulting file.

[code]

Th

[2022-08-02 18:15] ryanjoneil commented on #255
👋 Checking in to see if this is in development yet and if you need contributions.

[2022-08-03 07:30] rschwarz commented on #299
I think the `model.write` method simply [delegates](https://github.com/coin-or/python-mip/blob/master/mip/model.py#L762) the call to the underlying solver (CBC or Gurobi), so the offending behavior is likely defined there.

[2022-08-03 10:16] jajhall commented on #255
Much of what you want is very much in development. Specifically, MIP callbacks and a thin Python interface to the C++ API, coupled with being able to pip install HiGHS.  This will eliminate the need to go through the C interface. I don't believe we can automatically generate a Python interface to the C API since some HiGHS parameter lists involve passing by reference, something that I understand i

[2022-08-03 10:56] sebheger commented on #299
@ryanjoneil  Thanks for reporting this. But, I will close this as it is a duplicate of #164

[2022-08-03 10:56] #299 closed

[2022-08-03 10:58] sebheger commented on #255
@ryanjoneil From a python-mip side it is not under development

[2022-08-03 11:12] sebheger commented on #255
@jajhall python-mip is using cffi to directly interact with the C API (and only with the C API) of a local existing binary. It doesn't provide any benefit for us if you offer a thin python interface around the C++ API as it doesn't match the core design. You need "C-binaries" for CBC (self-build or the ones distributed with python-mip) or gurobi (either downloaded or via pip-installed). If the pip

[2022-08-03 15:47] ryanjoneil commented on #299
I have some follow-up questions, but I will put those on #164.

[2022-08-03 15:53] ryanjoneil commented on #164
Given this issue and #300, is it desirable to defer writing the model to Cbc? I think that, since the `mip` library knows the model definition, it could be responsible for writing (and potentially reading) well-structured `.lp` and `.mps` files.

Another issue with using Cbc for writing modes to files is that its output is sometimes unreadable by other solvers. For example, if I try to write a `.m

[2022-08-03 15:56] ryanjoneil commented on #300
Noting that this is an issue with Cbc. I posed the question on #164 as to whether it makes sense to defer writing model files using it, since it seems to have issues generating correct output.

[2022-08-03 18:38] ryanjoneil commented on #164
In looking through [`SolverCbc.write`](https://github.com/coin-or/python-mip/blob/master/mip/cbc.py#L1456-L1468), it should be easy to remove the repetitive `.mps` extension.

There are also a few bugs in the code that can be eliminated. For example, say we're a solving a model with the acronym "lumps". `m.write("lu.mps.lp")` will write a `lu.mps.mps.gz` file instead of a `.lp` file.

I think the

[2022-08-03 18:43] ryanjoneil commented on #300
Confirmed: If I change `m = Model(sense=MAXIMIZE)` to `m = Model(sense=MINIMIZE)` and switch the sign of every variable in the objective function in my Python code, the the result of `m.write('model.mps')` is equivalent to `m.write('model.lp')` before the changes.

[2022-08-05 19:12] #289 closed

[2022-08-05 20:22] sebheger commented on #164
i would say this need to be fixed on cbc side. But there is nobody at the moment who will fix this at cbc side

[2022-08-05 20:24] sebheger commented on #300
Maybe related to https://github.com/coin-or/Cbc/issues/519

[2022-08-08 02:25] tkralphs commented on #164
As @sebheger said, it would be helpful if you would report these issues over at Cbc rather than here. I cannot guarantee anything, as the developer bandwidth is limited, but there is a good chance that low-hanging fruit like this would get addressed. A PR would also be more than welcome.

[2022-08-08 14:06] #294 closed

[2022-08-18 08:08] DavidWalz commented on #221
I cannot reproduce.

The gurobipy example you tried first can also run without license, so make that you see gurobi connecting to the cloud.

Instead of https://www.gurobi.com/documentation/9.1/quickstart_linux/software_installation_guid.html you can also simply pip-install gurobipy.

[2022-08-24 20:42] amitainz commented on #36
Hi,

I'm also running into some problems with using lazy cut generation - any help would be greatly appreciated.

If the solver status is optimal, and the cut generator does not add any new constraints to the model, I would've expected the solver to stop. Instead it continues to work and even calls the cut generator 4 more times before actually stopping. What's going on?

Here's what the log looks

[2022-08-24 20:49] amitainz commented on #36
I added a _stop variable to the cut generator, which I set whenever the stopping condition was hit, and allowed me to return immediately (without querying any of the model attributes) when the cut generation was called a second time. This resolved the issue, though it would be nice to understand more precisely how the model decides when to stop.

[2022-08-26 21:07] sebheger commented on #36
@amitainz It seems that your issue refers to #274. Could you please confirm? Otherwise, conversion of your comment into a new issue is necessary, as this one is already closed. Thanks!

[2022-08-27 14:25] amitainz commented on #36
yes, it looks like the same issue, it's helpful to know it's not just me :-)
however, i'm not sure I can easily produce a minimal example either

[2022-09-01 10:59] Sceriffo opened #303 "Setting threads parameter leads to Cbc crash"
**Describe the bug**
Setting threads parameter using model's setter method doesn't work and leads to crash of Cbc at the end of computation.

[code]

**To Reproduce**
[code]

**Expected behavior**
Threads limited to 2 and Cbc oesn't crash

**Desktop (please complete the following information):**
 - Operating System, version: Ubuntu 20.04.4 LTS
 - Python version: 3.8.10
 - Python-MIP version (we re

[2022-09-01 10:59] Sceriffo commented on #303
I might have a fix

[2022-09-01 12:26] emiliobendotti commented on #303
i might have a fix

[2022-09-01 15:07] sebheger commented on #303
@Sceriffo We are more that happy to review a pull request

[2022-09-06 12:02] jajhall commented on #255
We now have HiGHS as pip install on Linux

[2022-09-07 10:17] aaronsl-hku commented on #239
@sebheger All is understood. As temporary workaround, can we get to know the actual version of pre-compiled Cbc in the python-mip version 1.13.0?

[2022-09-07 14:19] sebheger commented on #239
@aaronsl-hku I actually don't know, since i am supporting the project not from the beginning. I just can inform you that It's not an official release, but can't name you the commit from CBC master. You might look at the commits where cbc lib was lastly replaced in python-mip to identify a close commit number to use. Maybe @h-g-s knows more.

[2022-09-07 14:34] jurasofish commented on #239
#165 might help

[2022-09-09 02:02] aaronsl-hku commented on #239
Thanks @sebheger and @jurasofish for the information and the prompt replies.

I am in fact building a Docker application and trying to get it working on different devices. As a suggestion it would be a great idea to list out the versions of dependencies on future releases.

[2022-09-10 19:15] h-g-s commented on #239
Hi, we're having some problems in using recent master after the refactor branch was incorporated into Cbc. While this problems aren't solved the latest Cbc commit which would probably be compatible would be this:  https://github.com/coin-or/Cbc/commit/96cd94b0400e0012885c64ef1f9a3e7c3459014f

[2022-09-10 20:20] tkralphs commented on #239
This should be easy to fix. Rather than workarounds, why don't we just fix the problem so we can move further towards getting Cbc master out into release? If someone on the python-mip side could be precise about what is going wrong and perhaps identify a fix, I will do whatever is required on the Cbc side.

[2022-09-12 20:40] #303 closed

[2022-09-13 07:33] sebheger commented on #154
Maybe related to #107

[2022-09-24 17:44] simonhoerdumbonde opened #306 "Windows fatal exception: integer overflow - using MIP and CBC"
I run a model optimization using CBC which terminates with exit code -1073741675, and when running the model as a test case using pytest it returns Windows fatal exception: integer overflow.
By refactoring the first constraint of the model (divide by 123 to make the comp4 coefficient 1) the solver returns an optimal solution.

I have created a reduced version of my model which also produces the er

[2022-09-27 10:34] sebheger commented on #306
Thanks @simonhoerdumbonde for reporting the issue. Looks like an issue with CBC. We need to check first if this is also a bug when using standalone cbc solver

[2022-10-06 18:07] JoOkuma opened #307 "dictionary or sparse matrices support"
Hi,

I'm working on cell tracking using ILP. We've been using gurobi for a while but I'm looking for other alternatives that don't require installing/buying licenses.

The problem can reach millions of variables but it's very sparse and it can take a while to build it when using pure python loops.

Is any of the approaches below supported by `python-mip`? If not, how hard would it be to add this t

[2022-10-07 05:22] christian2022 commented on #307
It would be helpful, if you provide some executable example code, showing your issue.

[2022-10-13 17:45] sebheger commented on #307
@JoOkuma thanks for posting your idea here. I would say the same as @christian2022 that we need to understand in more detail what is slow, what is your requirement in details to determine what is necessary and what need to be done

[2022-10-13 22:21] JoOkuma commented on #307
Sorry for the late response.
While implementing a reproducible example I found an efficient implementation by mapping the keys to an index array from 0 to N-1 and using the existing `var_tensor` API.

To query the keys I used the `group_by` operator from the `pandas.DataFrame`, when called multiple times it's much faster than selecting from a numpy array directly.

@sebheger and @christian2022, I'

[2022-10-14 15:22] #307 closed

[2022-10-20 17:03] TomManMaz opened #309 "Do not print "Set parameter Username""
**Describe the bug**
Is there a wey to remove the 2  lines

?
I'd like to use [this](https://support.gurobi.com/hc/en-us/community/posts/4412624836753-Do-not-print-Set-parameter-Username-in-console) tip,  but I'm not sure how

 - Operating System, version: Debian 5.10.140-1
 - Python version: 3.9.12

[2022-10-21 13:16] sebheger commented on #309
within the internal [gurobi](https://github.com/coin-or/python-mip/blob/master/mip/gurobi.py) module you can use set_dbl_param or set_int_param. There you can add manually any official gurobi parameter.

[2022-10-26 06:44] brechtwillems99 opened #311 "Bug when number of threads is given to model"
Since MIP 1.14, I get an issue with the number of threads. With version 1.13 there was no problem.

I run on a Windows OS with Python version 3.9.10

Hereby I uploaded an example of the source code. It is a txt-file, as Python-files are not supported here.

On line 89 the number of threads is defined to the model.
When the value is >0, the optimization fails somewhere.
When the value is -1, there

[2022-11-01 23:45] ortiz1093 commented on #167
What if WSL is not an option?

[2022-11-03 18:25] NKPmedia commented on #253
I still have this problem for mip==1.14.1

If I cal the solver with `status = self.m.optimize(max_seconds=10)` it terminates after 140 second with very little debug output from cbc.

[code]

[2022-11-18 10:06] kasperdokter opened #314 "NameError: name 'cbclib' is not defined"
I know that others have run into the same exception (NameError: name 'cbclib' is not defined), but my setup is different. My goal is to run the solver in a docker container on 32 bit Raspberry Pi (arm/v6)

First I compiled the solver from source in my container:
[code]
Cross compiling is absolutely necessary, as building CBC on the Raspberry Pi takes more than 12 hours (after which I killed the bu

[2022-11-21 16:28] kasperdokter commented on #314
I was able to solve the issue myself, and here is my solution:

The Dockerfile has two problems, and they are caused by improper documentation of Python-MIP
[https://docs.python-mip.com/en/latest/install.html](https://docs.python-mip.com/en/latest/install.html).

1. ENV PMIP_CBC_LIBRARY="/home/haroldo/prog/lib/libCbcSolver.so"
The solver has been renamed to libCbc.so.
2. ENV PATH=$PATH:/home/harol

[2022-11-21 16:28] #314 closed

[2022-11-23 12:32] brmanuel opened #316 "MIP not compatible with Gurobi 10.X"
**Describe the bug**
Trying to use python-mip with Gurobi version 10 installed results in
`File "/usr/local/lib/python3.9/site-packages/mip/gurobi.py", line 75, in <module>
    s1 = lib_path.split('"')[-1].split("/")[-1]
AttributeError: 'NoneType' object has no attribute 'split'`

**To Reproduce**
Fire up a python repl and type `import gurobi.mip`

**Expected behavior**
The import should work.

**